.sidenav-open {
  width: 300px;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.logo-pequena {
  width: 35px;
}
.logo-extensa{
  width: 200px;
}
.div-logo{
  height:7em;
  width: auto;
  background-color: rgba(27,138,193,1);
}

.sidenav-closed {
  border-left: solid 5px rgba(27,138,193,1);
  width: 60px;
}

.mat-sidenav-container {
  background-color: rgb(0, 0, 0) !important;
  height: 100%;

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}
.sidenav-toolbar {
  height: 64px;

  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}

.fixed-topnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}
.version-info {
  font-size: 8pt;
  padding: 8px;
  align-self: flex-end;
}

