.routeIcon {
  margin-right: 15px;
}

.ajustes-menu,
.menu-children {
  font: 500 15px/32px Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
}

.menu-children {
  border-left: solid 5px #1b8ac1;
  width: 90%;
}
